{% extends 'partials/_base.html' %} {% load static %} {% block content %}
<style type="text/css">
    * {
        box-sizing: border-box;
    }
    
    body {
        color: #555;
        text-align: center;
    }
    
    h1 {
        font-size: 2.2em;
    }
    
    .flip {
        position: relative;
        
    }
    
    .flip>.front,
    .flip>.back {
        display: block;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: 0.5s;
        transition-property: transform, opacity;
    }
    
    .flip>.front {
        transform: rotateY(0deg);
    }
    
    .flip>.back {
        position: absolute;
        opacity: 0;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        transform: rotateY(-180deg);
    }
    
    .flip:hover>.front {
        transform: rotateY(180deg);
    }
    
    .flip:hover>.back {
        opacity: 1;
        transform: rotateY(0deg);
    }
    
    .flip.flip-vertical>.back {
        transform: rotateX(-180deg);
    }
    
    .flip.flip-vertical:hover>.front {
        transform: rotateX(180deg);
    }
    
    .flip.flip-vertical:hover>.back {
        transform: rotateX(0deg);
    }
    
    .flip {
        position: relative;
        display: inline-block;
        margin-right: 2px;
        margin-bottom: 1em;
        width: 350px;
    }
    
    .flip>.front,
    .flip>.back {
        display: block;
        color: white;
        width: inherit;
        background-size: cover !important;
        background-position: center !important;
        height: 400px;
        padding: 1em 0.5em;
        background: #1ABC9C;
        border-radius: 10px;
        text-align:justiy;
    }

    
    .flip>.front p,
    .flip>.back p {
        font-size: 0.9125rem;
        line-height: 160%;
        color: #fff;
       
    }
    
    .text-shadow {
        text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
    }
</style>

<br>
<br>
<br>
<br>
<br>
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Anılar</h2>
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        
        <div class="row-justify-md-center" >
            {% for category in categories %}
            
                <a class="btn btn-warning text-uppercase" style="margin-bottom:3px; font-size:0.8em" href="{% url 'memories_by_category' category.slug %}"> {% if category.slug in request.path %} <b><u>{{ category.name }}</u></b> {% else %}  {{ category.name }} {% endif %}</a>
            
            {%endfor%}
        </div>
        <div class="row-justify-md-center" >
            {% for tag in tags %}
            
                <a class="btn btn-warning text-uppercase" style="margin-bottom:3px; font-size:0.8em" href="{% url 'memories_by_tag' tag.slug %}"> {% if tag.slug in request.path %} <b><u>#{{ tag.name }}</u></b> {% else %}#{{ tag.name }} {% endif %}</a>
            
            {%endfor%}
        </div>
        <div class="row-justify-md-center" >
            <div class="col-xl-12 col-md-12 col-sm-12 mt-3 pl-3">
                <form class="d-flex" method="GET" action="{% url 'search' %}">
                
                    <input class="form-control input-text me-2 text-uppercase" name="search" type="text" placeholder="Anı Arayınız..." aria-label="Search">
                    <input class="btn btn-outline-warning" value="Ara" type="submit">
                </form>
            
                </div>

        </div>
        <br>
{% for memo in memory%}

<div class="flip">
    <div class="front" style="background-image: url({{ memo.image.url }})">
        <h1 class="text-shadow"> {{memo.name | truncatechars:15 }}</hi>
    </div>
    <div class="back">
        <h2 class="text-shadow">{{memo.category}}</h2>
        <hr>
        <h4>
        {% if "Fest" in memo.name %} <i class="fas fa-beer" style="color:yellow;"></i>{% endif %} 
        {% if "Buz" in memo.name %} <i class="fas fa-skating" style="color:white;"></i>{% endif %} 
        {% if "İlk" in memo.name %}<i class="fas fa-heart" style="color:red;"></i>{% endif %}
        {% if "Film" in memo.name %}<i class="fas fa-video" style="color:black;"></i>{% endif %}
        {% if "Dönüş" in memo.name %}<i class="fas fa-sad-tear"></i>{% endif %}
        {% if "Yıl" in memo.name %}<i class="fas fa-glass-cheers" style="color:#7D3646;"></i>{% endif %}
        {% if "Antik" in memo.name %}<i class="fas fa-landmark" style="color:white;"></i>{% endif %}
        {% if "Sene" in memo.name %}<i class="fas fa-calendar-check" style="color:white;"></i>{% endif %}
        {% if "Patara" in memo.name %}<i class="fas fa-moon" style="color:white;"></i>{% endif %}
        {% if "Plaj" in memo.name %}<i class="fas fa-swimmer" style="color:white;"></i>{% endif %}
        {% if "Alaçatı" in memo.name %}<i class="fas fa-swimmer" style="color:white;"></i>{% endif %}
        
        {{memo.name}}
        
        </h4>
        <p style="text-align: justify;">
        {{ memo.description | truncatechars:400 }}</p>
        <a class="btn btn-warning" style="margin-bottom:5px;" href="{% url 'memory_detail' memo.category.slug memo.id %}">Daha Fazla</a>
        

    </div>
</div>
{% endfor %}

</div>


<br>
<br>





{% endblock %}

